@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Manrope&family=Merriweather:ital@0;1&family=Work+Sans:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Manrope:wght@200;400;800&family=Merriweather:ital@0;1&family=Space+Mono:wght@700&family=Work+Sans:wght@400;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
} 

body {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #1c2e4e;
    color: #ffffff;
}

section {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

 .guide {
    width: 75%;
    margin: 2rem auto 0 auto;
    padding: 1rem;
    border: 0.2rem solid #606e85;
} 

.nameScore {
    display: flex;
    justify-content: space-between;
}

.guideName {
    font-size: 1.2rem;
    font-weight: bold;
}

.score {
    background-color: #ffffff;
    color: #103d8b;
    padding: 0.2em 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
}
.scoreTxt {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(43, 80, 201);
}

.scoreNumber {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #000000;
}

.display {
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
}

.img {
    padding: 2rem;
    border-radius:50%;
    background-color: #ffffff;
}

.triangle {
    width: 75%;
    height: auto;
    margin: 3rem auto 0 auto;
    background-image: url(./images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;

    
}

 .modalDiv{
    background-color: #ffffff;
    color: #000000;
    width: 30%;
    padding: 1rem;
    height: auto;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
     position: fixed;
    top: 28%;
    left: 35%; 
    visibility: hidden;
} 

.modalRules {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

} 

 .fa-solid {
    margin-right: 0.8rem;
    color: #606e85;
    cursor: pointer;
} 

.fa-solid:hover {
    color: #000000;
}
/* .modalImage{
    margin-left: 12.5rem;
} */



.triangle img{
    width: 5rem;
    height: auto;
}
.displayAssets {
    width: 65%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.rules {
    width: 10rem;
    height: 3rem;
    background-color: #1c2e4e;
    color: #ffffff;
    margin: 2rem 0 5rem 80rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.rules:hover{
    background-color: #364869;
}

.rock{
    border: 2rem solid red;
}
.paper {
    border: 2rem solid blue;
}
.scissors {
    border: 2rem solid orange;
}

#effect:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}